Repository bgaber/k8s-annotation-mutatingwebhook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-dev-green, lint-rd-green, lint-npri-blue, lint-npri-green, lint-npr-green, lint-npr-blue, lint-prod-green, lint-prod-ca-blue, lint-prod-ca-green, lint-prod-ca-red, lint-prod-us-blue, test-dev-green, test-rd-green, test-npri-blue, test-npri-green, test-npr-green, test-npr-blue, test-prod-ca-blue, test-prod-ca-green, test-prod-ca-red, test-prod-us-blue, test-prod-us-green, us-east-1-dev-green, us-east-1-rd-green, us-east-1-npri-blue, us-east-1-npri-green, us-east-1-npr-green, us-east-1-npr-blue, us-east-1-prod-green, ca-central-1-prod-blue, ca-central-1-prod-green, ca-west-1-prod-red, us-east-1-prod-blue

Path conditions:
  lint-dev-green: any of: regions/us-east-1/dev/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  lint-rd-green: any of: regions/us-east-1/rd/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  lint-npri-blue: any of: regions/us-east-1/npri/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  lint-npri-green: any of: regions/us-east-1/npri/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  lint-npr-green: any of: regions/us-east-1/npr/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  lint-npr-blue: any of: regions/us-east-1/npr/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  lint-prod-green: any of: regions/us-east-1/prod/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  lint-prod-ca-blue: any of: regions/ca-central-1/prod/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  lint-prod-ca-green: any of: regions/ca-central-1/prod/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  lint-prod-ca-red: any of: regions/ca-west-1/prod/red/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  lint-prod-us-blue: any of: regions/us-east-1/prod/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-dev-green: any of: regions/us-east-1/dev/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-rd-green: any of: regions/us-east-1/rd/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-npri-blue: any of: regions/us-east-1/npri/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-npri-green: any of: regions/us-east-1/npri/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-npr-green: any of: regions/us-east-1/npr/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-npr-blue: any of: regions/us-east-1/npr/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-prod-ca-blue: any of: regions/ca-central-1/prod/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-prod-ca-green: any of: regions/ca-central-1/prod/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-prod-ca-red: any of: regions/ca-west-1/prod/red/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-prod-us-blue: any of: regions/us-east-1/prod/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  test-prod-us-green: any of: regions/us-east-1/prod/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  us-east-1-dev-green: any of: regions/us-east-1/dev/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml, .gitlab-ci.yml, common-steps-template.yml, service-account/serviceaccount.yaml
  us-east-1-rd-green: any of: regions/us-east-1/rd/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml, .gitlab-ci.yml, common-steps-template.yml, service-account/serviceaccount.yaml
  us-east-1-npri-blue: any of: regions/us-east-1/npri/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml, .gitlab-ci.yml, common-steps-template.yml, service-account/serviceaccount.yaml
  us-east-1-npri-green: any of: regions/us-east-1/npri/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml, .gitlab-ci.yml, common-steps-template.yml, service-account/serviceaccount.yaml
  us-east-1-npr-green: any of: regions/us-east-1/npr/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  us-east-1-npr-blue: any of: regions/us-east-1/npr/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  us-east-1-prod-green: any of: regions/us-east-1/prod/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  ca-central-1-prod-blue: any of: regions/ca-central-1/prod/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  ca-central-1-prod-green: any of: regions/ca-central-1/prod/green/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  ca-west-1-prod-red: any of: regions/ca-west-1/prod/red/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  us-east-1-prod-blue: any of: regions/us-east-1/prod/blue/*, helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml

modified README.md
  gitlab/README.md
Due: none

added Table of COntents to README.md
  gitlab/README.md
Due: none

added ServiceAccount permissions
  service-account/serviceaccount.yaml
Due: us-east-1-dev-green, us-east-1-rd-green, us-east-1-npri-blue, us-east-1-npri-green

modified ~/gitlab/README.md
  gitlab/README.md
  helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
Due: lint-dev-green, lint-rd-green, lint-npri-blue, lint-npri-green, lint-npr-green, lint-npr-blue, lint-prod-green, lint-prod-ca-blue, lint-prod-ca-green, lint-prod-ca-red, lint-prod-us-blue, test-dev-green, test-rd-green, test-npri-blue, test-npri-green, test-npr-green, test-npr-blue, test-prod-ca-blue, test-prod-ca-green, test-prod-ca-red, test-prod-us-blue, test-prod-us-green, us-east-1-dev-green, us-east-1-rd-green, us-east-1-npri-blue, us-east-1-npri-green, us-east-1-npr-green, us-east-1-npr-blue, us-east-1-prod-green, ca-central-1-prod-blue, ca-central-1-prod-green, ca-west-1-prod-red, us-east-1-prod-blue

June 2025 update
  .gitlab-ci.yml
  README.md
  gitlab/README.md
  helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
Due: lint-dev-green, lint-rd-green, lint-npri-blue, lint-npri-green, lint-npr-green, lint-npr-blue, lint-prod-green, lint-prod-ca-blue, lint-prod-ca-green, lint-prod-ca-red, lint-prod-us-blue, test-dev-green, test-rd-green, test-npri-blue, test-npri-green, test-npr-green, test-npr-blue, test-prod-ca-blue, test-prod-ca-green, test-prod-ca-red, test-prod-us-blue, test-prod-us-green, us-east-1-dev-green, us-east-1-rd-green, us-east-1-npri-blue, us-east-1-npri-green, us-east-1-npr-green, us-east-1-npr-blue, us-east-1-prod-green, ca-central-1-prod-blue, ca-central-1-prod-green, ca-west-1-prod-red, us-east-1-prod-blue

updated configmap.yaml
  helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
Due: lint-dev-green, lint-rd-green, lint-npri-blue, lint-npri-green, lint-npr-green, lint-npr-blue, lint-prod-green, lint-prod-ca-blue, lint-prod-ca-green, lint-prod-ca-red, lint-prod-us-blue, test-dev-green, test-rd-green, test-npri-blue, test-npri-green, test-npr-green, test-npr-blue, test-prod-ca-blue, test-prod-ca-green, test-prod-ca-red, test-prod-us-blue, test-prod-us-green, us-east-1-dev-green, us-east-1-rd-green, us-east-1-npri-blue, us-east-1-npri-green, us-east-1-npr-green, us-east-1-npr-blue, us-east-1-prod-green, ca-central-1-prod-blue, ca-central-1-prod-green, ca-west-1-prod-red, us-east-1-prod-blue

synchronized with prod changes
  README.md
  helm/k8s-annotation-mutatingwebhook/templates/configmap.yaml
  service-account/serviceaccount.yaml
Due: lint-dev-green, lint-rd-green, lint-npri-blue, lint-npri-green, lint-npr-green, lint-npr-blue, lint-prod-green, lint-prod-ca-blue, lint-prod-ca-green, lint-prod-ca-red, lint-prod-us-blue, test-dev-green, test-rd-green, test-npri-blue, test-npri-green, test-npr-green, test-npr-blue, test-prod-ca-blue, test-prod-ca-green, test-prod-ca-red, test-prod-us-blue, test-prod-us-green, us-east-1-dev-green, us-east-1-rd-green, us-east-1-npri-blue, us-east-1-npri-green, us-east-1-npr-green, us-east-1-npr-blue, us-east-1-prod-green, ca-central-1-prod-blue, ca-central-1-prod-green, ca-west-1-prod-red, us-east-1-prod-blue
